.simulator {
	&__input-area {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		&--rendimento {
			min-width: 200px;
			margin-right: 2rem;
		}

		&--indexacao {
			min-width: 225px;
			margin-left: 2rem;
		}
	}
}
