$bgHover: #ed8e53;
$bgWhite: #fff;
$bgGray: #969696;

.button {
	@mixin buttonType($backgroundColor, $border) {
		width: 16.5rem;
		height: 3.75rem;
		padding: 1rem;
		cursor: pointer;
		border-radius: 8px;
		background-color: $backgroundColor;
		@if ($border == true) {
			border: 2px solid black;
		} @else {
			border: none;
		}

		&:hover {
			background-color: $bgHover;
			border: none;
			outline: none;
		}
	}

	&--limpar {
    margin-right: 0.75rem;
		@include buttonType(transparent, true);
	}

	&--simular {
    margin-left: 0.75rem;
		@include buttonType($bgGray, false);
	}

	&__label {
		font: {
			size: 1.15rem;
			weight: 700;
		}
	}
}
