@mixin padding($pixels) {
	padding: $pixels;
	border: 1px solid black;
	cursor: pointer;
  font-size: 0.95rem;

	&:first-child {
		border-radius: 8px 0 0 8px;
	}

	&:last-child {
		border-radius: 0 8px 8px 0;
	}

  &:hover {
    background-color: #ed8e53;
    color: #fff;
  }
}

.select {
  border: none;
	margin: 2rem 0;

	&__title {
		font: {
			size: 0.75rem;
			weight: 400;
		}
    margin: 1rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__btn--rend {
		@include padding(1rem 1.5rem);
	}

	&__btn--index {
		@include padding(1rem);
	}
}
