.app {
	background-color: #efefef;
	margin: 2rem;
}

.header {
	padding: 2rem;

	&__title {
		text-align: center;
		font: {
			size: 2.5rem;
			weight: 700;
		}
	}
}

.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
  margin: 2rem;

	&__simulator {
		&__title {
			font: {
				size: 2rem;
				weight: 700;
			}
		}
	}
}
