.simulator {
	display: flex;
	justify-content: flex-start;
	align-items: center;

  &__rendimento {
    min-width: 200px;
    margin: 1rem;
  }

  &__indexacao {
    min-width: 225px;
    margin: 1rem;
  }
}
